POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=arxiv_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_ARXIV_TABLE=arxiv_meta

EMBEDDING_MODEL_NAME='sentence-transformers/all-mpnet-base-v2'
EMBEDDING_MODEL_DIM=768
