POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=arxiv_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

POSTGRES_ARXIV_TABLE=arxiv_meta
POSTGRES_RESUMABLES_TABLE=resumables

EMBEDDING_MODEL_NAME='sentence-transformers/all-mpnet-base-v2'
EMBEDDING_MODEL_DIM=768
MODEL_BATCH_SIZE=130
PYTORCH_DEVICE=cuda

# https://oaipmh.arxiv.org/oai?verb=ListRecords&set=physics&metadataPrefix=arXiv
ARXIV_OAIMPH_URL=https://oaipmh.arxiv.org/oai

TOTAL_INGESTION_PAPER_NUM=50000

LOG_LEVEL=INFO