# CORE
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=arxiv_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

POSTGRES_ARXIV_TABLE=arxiv_meta
POSTGRES_RESUMABLES_TABLE=resumables

# see https://sbert.net/docs/sentence_transformer/pretrained_models.html#original-models for a full list
EMBEDDING_MODEL_NAME='sentence-transformers/all-mpnet-base-v2'

# API
API__EMBEDDING_MODEL_DIM=768
API__MODEL_BATCH_SIZE=130
API__PYTORCH_DEVICE=cuda # cuda or cpu

API__ARXIV_OAIMPH_URL=https://oaipmh.arxiv.org/oai

API__LOG_LEVEL=INFO
API__TIMEZONE=Europe/Madrid
